<div class="tb_aviso">
    <div class="cll_aviso">
        <div class="titulo_error">
            <b>¡Lo sentimos!</b>
        </div>
        <div class="subtitulo_error">
            <b>Al parecer hay problemas</b> <br> con la conexión
        </div>
    </div>
</div>

<div class="bt_imagen_error">
    <div class="cll_imagen_error">
        <img src="assets/img/icons/error_desconeccion.svg">
    </div>
</div>

<div class="tb_leyenda_aviso">
    <div class="cll_leyenda_aviso">
        <div class="descripcion_error"><b>Comprueba tu conexión</b></div>
        <div class="descripcion_lite">y vuelve a intentarlo</div>
    </div>
</div>
