<header class="titulo_encabezado">
    <div class="contenedorGeneral">
        <b>Mauricio,</b> reconocemos tu lealtad
    </div>
</header> 

<div class="contenedorGeneral">
    <div class="felicidades">
        !Felicidades!
    </div>

    <div class="leyenda_beneficios">
       <div>
            Utiliza <span>tu beneficio</span> y acude a tu <span class="apostrofe">tienda Elektra</span> <br>
            !Recurda que esta promoción <span>es sólo para ti!</span>
        </div>
    </div>

    <div class="bloqueQr">
        <div class="wq50">
            <div class="tb_cliente_unico">
                <div class="cll_cliente_unico">
                    
                    <div class="titulo_cliente_unico">
                        <b>Cliente Único:</b>
                    </div>
                    
                    <div class="numero_cliente">
                        0101 0631 70971
                    </div>

                    <div class="titulo_sku">
                        SKU
                    </div>

                    <div class="numero_sku">
                        31036713
                    </div>

                </div>
            </div>
        </div>

        <div class="wq50">
            <div class="contenedor_qr">
                <img src="">
            </div>
        </div>
    </div>


    <div class="leyenda_qr">
        Si deseas otro equipo, solicita tu cotización se <br>
        <span>respetarán tus beneficios.</span> También puedes lleártelo <br>
        con Plan OUI <span>consulta con tu vendedor.</span>
    </div>

    <div class="terminos_y_condiciones">


        <div class="condiciones_Uno">
            <b>1</b>Los responsables de la promoción son Nueva Elektra del Milenio, S.A. de C.V. y Banco Azteca, S.A. Institución de Banca Múltiple. La presente <br>
            promoción es válida únicamente el 23  de abril del 2020, aplica en todas las tiendas físicas de Elektra, no es acumulable con otras promociones y <br>
            sólo es válida pagando con Crédito Elektra. Consulta términos y condiciones de la promoción en: www.bancoazteca.com.mx y <br>
            www.elektra.com.mx/terminos-de-promociones. <b>2</b> Pagos Calculados al plazo indicado y sin atraso. <b>3</b> Productos sujetos a disponibilidad en tienda, <br>
            consulta a detalle las características y disponibilidad con el vendedor en tienda. <b>4</b> El responsable de los planes y costos de telefonía OIU, es <br>
            Telecomunicaciones 360, S.A. de C.V. Los precios incluyen IVA. Para mayor información visita www.ouimovil.com. Disponibilidad sujeta a inventario,<br>
            consulta a detalle las características y disponibilidad con el vendedor en tienda. <b>5 Crédito Elektra</b> es un producto otorgado por Banco Azteca, S.A., <br>
            Institución de Banca Múltiple, bajo el nombre comercial <b>CREDIMAX (Crédito al Consumo).</b>Para cualquier consulta sobre requisitos, términos y <br>
            condiciones de contratación, así como tasas y comisiones aplicables, acude a tu sucursal o visita: <b>www.bancoazteca.com.mx</b>
        </div>

        <div class="condiciones_Dos">
            <b>CREDIMAX (Crédito al Consumo): CAT (Costo Anual Total) PROMEDIO 79.9% SIN IVA, calculado al 31 de diciembre de 2019.</b> <br> 
            Para fines informativos y de comparación. Vigencia del 31 de diciembre de 2019 al 30 de junio de 2020.
        </div>
        <div class="condiciones_Tres">
            Todos los logotipos, marcas comerciales o de servicio y nombres comerciales mostrados, son propiedad de sus respectivos titulares, 
            sus derechos se encuentran protegidos por las leyes en materia de propiedad industrial e intelectual. Todos los derechos reservados.
        </div>



    </div>
    
<div>