    <header class="titulo_encabezado">
		<div class="contenedorGeneral">
			<b>Mauricio,</b> reconocemos tu lealtad
		</div>
	</header>   
  

	<div class="contenedorGeneral">

		<div class="credito">
			<div class="tb_credito">
				<div class="cll_credito">
					Aprovecha tu beneficio y <b>Utiliza tu CRÉDITO</b>
				</div>
				<div class="cll_credito">
					<img src="assets/img/icons/creditoElektra.svg">
				</div>
			</div>
		</div>

		<div class="informacionPlan">

			<div class="w50">
				<div class="tabContenido">
					<div class="cllContenido">
						<div class="modeloTelefono">
							<img src="assets/img/telefono1.png">
						</div>

						<div class="precioTotal">
							<div class="titulo_precio_total">Total a pagar a crédito: </div>
							<div class="signoPesos">$</div>
							<div class="precio">4,320</div>
						</div>
					</div>
				</div>
			</div>

			<div class="w50">
				<div class="tabContenido">
					<div class="cllContenido">
						<div class="nombreTelefono">
							<div><b>Motorola Moto E6 Play</b></div>
							<div><b>32GB Movistar - Negro</b></div>
						</div>

					    <div class="titulo_te_reconocemos">
						    Te reconocemos con
					    </div>

						<div class="tb_plazo_descuento">
							<div class="cll_plazo_descuento">
								<div class="plazos">
									<div class="unPlazo">Un plazo de</div>
									<div class="semana">72 sem</div>
									<div class="pago_inicial">
										Pago inicial de <span>$</span>0
									</div>
								</div>
							</div>

							<div class="cll_plazo_descuento">
								<div class="descuentos">
									<div class="un_descuento">
										Un descuento <br> por renovación de
									</div>

									<div class="precioUno">
										<span class="linea">
											<span class="signoPesosDos">$</span> <span>70</span>
										</span>
									</div>

									<div class="union">a</div>
										
									<div class="precioDos">
										<span> $</span> 
										<span>60</span>
									</div>
								</div>
							</div>
						</div>

						<div class="precioContado">
							Precio de contado: 
						    <span class="signoPesosDos">$</span> <span>2,500</span>
						</div>

						<div class="precioParaTi">
							Precio para ti: de 
							<span class="linea">
								<span class="signoPesosDos">$</span> <span>2,671</span>
							</span>
						</div>
						
						<div class="a_solo">
							a sólo 
							<span class="signoPesosTres">$</span><span>2,429</span>
						</div><br>

						<button class="btnCuadrado vC">Ver característica</button>

				    </div>
				</div>
			</div>

			<div class="clear"></div>

		

			<div class="detallesTelefono">
				<div class="w50">
					<nav>
						<ul>
							<li>Pantalla de 6.5 Pulgadas</li>
							<li>
								Cámara trasera de 48 Mpx + 8 Mpx <br>
								+ 2 Mpx y frontal de 16 Mpx
							</li>
						</ul>
					</nav>
			    </div>

                <div class="w50">
					<nav>
						<ul>
							<li>Batería de 4000 mAh</li>
							<li>
							Memoria interna de 128 GB, <br>
							RAM 6 GB
							</li>
						</ul>
					</nav>
				</div>

			</div>

			<div class="clear"></div>


			<div class="planesOui">
				<div class="tb_oui">
					<div class="cll_oui">
						También puedes llevátelo <b>con los planes de</b>
					</div>
					<div class="cll_oui">
						<img src="assets/img/icons/logo_oui.svg">
					</div>
				</div>
			</div>
			
			<div class="descripcion_planes">
				Toca los planes para ver sus características
			</div>



			<button class="btn_redondo btnCenter">
				<div>Obtén tu beneficio</div>
				<div>!Ahora¡</div>
			</button>

			<div class="clear"></div>
			
		</div>
		
