    <header class="titulo_encabezado">
		<div class="contenedorGeneral">
			<b>Mauricio,</b> reconocemos tu lealtad
		</div>
	</header>   
  

	<div class="contenedorGeneral">

		<div class="credito">
			<div class="tb_credito">
				<div class="cll_credito">
					Aprovecha tu beneficio y <b>utiliza tu CRÉDITO</b>
				</div>
				<div class="cll_credito">
					<img src="assets/img/icons/creditoElektra.svg">
				</div>
			</div>
		</div>

		<div class="informacionPlan">

			<div class="w50">
				<div class="tabContenido">
					<div class="cllContenido">
						<div class="modeloTelefono">
							<img [src]="articuloSeleccionado.img">
						</div>

						<div class="precioTotal">
							<div class="titulo_precio_total">Total a pagar a crédito: </div>
							<div class="signoPesos">$</div>
							<div class="precio">{{articuloSeleccionado.totalPagar}}</div>
						</div>
					</div>
				</div>
			</div>

			<div class="w50">
				<div class="tabContenido">
					<div class="cllContenido">
						<div class="nombreTelefono">
							<div><b>{{articuloSeleccionado.nombre}}</b></div>
							<div><b>{{articuloSeleccionado.marca}}</b></div>
						</div>

					    <div class="titulo_te_reconocemos">
						    Te reconocemos con
					    </div>

						<div class="tb_plazo_descuento">
							<div class="cll_plazo_descuento">
								<div class="plazos">
									<div class="unPlazo">Un plazo de</div>
									<div class="semana">72 sem</div>
									<div class="pago_inicial">
										Pago inicial de <span>$</span>0
									</div>
								</div>
							</div>

							<div class="cll_plazo_descuento">
								<div class="descuentos">
									<div class="un_descuento">
										Un descuento <br> por renovación de
									</div>

									<div class="precioUno">
										<span class="linea">
											<span class="signoPesosDos">$</span> <span>{{articuloSeleccionado.descuentoRenovacionAnterior}}</span>
										</span>
									</div>

									<div class="union">a</div>
										
									<div class="precioDos">
										<span> $</span> 
										<span>{{articuloSeleccionado.descuentoRenovacionActual}}</span>
									</div>
								</div>
							</div>
						</div>

						<div class="precioContado">
							Precio de contado: 
						    <span class="signoPesosDos">$</span> <span>{{articuloSeleccionado.precioContado}}</span>
						</div>

						<div class="precioParaTi">
							Precio para ti: de 
							<span class="linea">
								<span class="signoPesosDos">$</span> <span>{{articuloSeleccionado.tuPrecioNormal}}</span>
							</span>
						</div>
						
						<div class="a_solo">
							a sólo 
							<span class="signoPesosTres">$</span><span>{{articuloSeleccionado.tuPrecioReal}}</span>
						</div><br>

						<button mat-flat-button class="btnCuadrado vC">Ver característica</button>

				    </div>
				</div>
			</div>

			<div class="clear"></div>

		

			<div class="detallesTelefono">
				<div class="w50">
					<nav>
						<ul>
							<li *ngFor="let caracteristica1 of articuloSeleccionado.caracteristicas1">{{caracteristica1}}</li>
						</ul>
					</nav>
			    </div>

                <div class="w50">
					<nav>
						<ul>
							<li *ngFor="let caracteristica2 of articuloSeleccionado.caracteristicas2">{{caracteristica2}}</li>
						</ul>
					</nav>
				</div>

			</div>

			<div class="clear"></div>


			<div class="planesOui">
				<div class="tb_oui">
					<div class="cll_oui">
						También puedes llevátelo <b>con los planes de</b>
					</div>
					<div class="cll_oui">
						<img src="assets/img/icons/logo_oui.svg">
					</div>
				</div>
			</div>
			
			<div class="descripcion_planes">
				Toca los planes para ver sus características
			</div><br>

			<mat-tab-group>
			    <mat-tab>
					<ng-template mat-tab-label>Ligero <br> $29</ng-template>
					<div class="lista_planes">
						<div class="bloque_lista">
							<div><img src="assets/img/icons/telefono.svg"></div>
							<div><img src="assets/img/icons/correo.svg"></div>
							<div>Llamadas y SMS - <b>Ilimitados</b></div>
						</div>

						<div class="bloque_lista">
							<div><img src="assets/img/icons/facebook.svg"></div>
							<div><img src="assets/img/icons/twitter.svg"></div>
							<div> Redes Sociales - <b>300 MB</b></div>
						</div>

						<div class="bloque_lista">
							<div><img src="assets/img/icons/whatsapp.svg"></div>
							<div>WhatsApp - <b>500 MB</b></div>
						</div>

						<div class="bloque_lista">
							<div><img src="assets/img/icons/datos.svg"></div>
							<div>Datos de navegación - <b>100 MB</b></div>
						</div>
					</div>
				</mat-tab>

				<mat-tab>
					<ng-template mat-tab-label>Básico <br> $40</ng-template>
					<div class="lista_planes">
						<div class="bloque_lista">
							<div><img src="assets/img/icons/telefono.svg"></div>
							<div><img src="assets/img/icons/correo.svg"></div>
							<div>Llamadas y SMS - <b>Ilimitados</b></div>
						</div>

						<div class="bloque_lista">
							<div><img src="assets/img/icons/facebook.svg"></div>
							<div><img src="assets/img/icons/twitter.svg"></div>
							<div><img src="assets/img/icons/instagram.svg"></div>
							<div><img src="assets/img/icons/snapchat.svg"></div>
							<div>Redes Sociales - <b>1000 MB</b></div>
						</div>

						<div class="bloque_lista">
							<div><img src="assets/img/icons/whatsapp.svg"></div>
							<div>WhatsApp - <b>1000 MB</b></div>
						</div>

						<div class="bloque_lista">
							<div><img src="assets/img/icons/datos.svg"></div>
							<div>Datos de navegación - <b>800 MB</b></div>
						</div>
					</div>
				</mat-tab>

				<mat-tab>
					<ng-template mat-tab-label>Total <br> $60</ng-template>
						<div class="lista_planes">
							<div class="bloque_lista">
								<div><img src="assets/img/icons/telefono.svg"></div>
								<div><img src="assets/img/icons/correo.svg"></div>
								<div>Llamadas y SMS - <b>Ilimitados</b></div>
							</div>

							<div class="bloque_lista">
								<div><img src="assets/img/icons/facebook.svg"></div>
								<div><img src="assets/img/icons/twitter.svg"></div>
								<div><img src="assets/img/icons/instagram.svg"></div>
								<div><img src="assets/img/icons/snapchat.svg"></div>
								
								<div>Redes Sociales - <b>Ilimitadas</b></div>
							</div>

							<div class="bloque_lista">
								<div><img src="assets/img/icons/whatsapp.svg"></div>
								<div>WhatsApp - <b>Ilimitado</b></div>
							</div>

							<div class="bloque_lista">
								<div><img src="assets/img/icons/datos.svg"></div>
								<div>Datos de navegación - <b>1400 MB</b></div>
							</div>

							<div class="bloque_lista">
								<div><img src="assets/img/icons/automovil.svg" class="img_auto"></div>
								<div>Automovilista - <b>500 MB</b></div>
							</div>
						</div>
				</mat-tab>

				<mat-tab>
					<ng-template mat-tab-label>Plus ilimitado <br> $80</ng-template>
						<div class="lista_planes">
							<div class="bloque_lista">
								<div><img src="assets/img/icons/telefono.svg"></div>
								<div><img src="assets/img/icons/correo.svg"></div>
								<div>Llamadas y SMS - <b>Ilimitados</b></div>
							</div>

							<div class="bloque_lista">
								<div><img src="assets/img/icons/facebook.svg"></div>
								<div><img src="assets/img/icons/twitter.svg"></div>
								<div><img src="assets/img/icons/instagram.svg"></div>
								<div><img src="assets/img/icons/snapchat.svg"></div>
								
								<div>Redes Sociales - <b>Ilimitadas</b></div>
							</div>

							<div class="bloque_lista">
								<div><img src="assets/img/icons/whatsapp.svg"></div>
								<div>WhatsApp - <b>Ilimitados</b></div>
							</div>

							<div class="bloque_lista">
								<div><img src="assets/img/icons/datos.svg"></div>
								<div>Datos de navegación - <b>Ilimitados</b></div>
							</div>

							<div class="bloque_lista">
								<div><img src="assets/img/icons/automovil.svg" class="img_auto"></div>
								<div>Automovilista - <b>1000 MB</b></div>
							</div>
						</div>
				</mat-tab>
			</mat-tab-group>

			<div class="clear"></div>
		</div>

		<button mat-flat-button class="btn_redondo btnCenter">
			Obtén tu beneficio <br>
			!Ahora¡
		</button>
		
