<div class="contenedorPrincipal">
    <div class="contenedorEjemplos">
        <div class="header">
            <span class="titulo bold">Mauricio, en Banco Azteca</span>
            <span class="titulo2">reconocemos tu lealtad</span>
        </div>
        <div class="contenedorContenido">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="carrusel1 shadow">
                        <div class="textos bottomShadow">
                            <div class="texto1">
                                <div>Obtén beneficios y descuentos al utilizar</div>
                                <div class="bold">tu crédito al consumo en Telefonía</div>
                            </div>
                            <div class="texto2">
                                <div>Al usar tu crédito podrás obtener un descuento en</div>
                                <div class="bold">tus pagos semanales y adquirir diferentes equipos</div>
                            </div>
                        </div>
                    </div>
                    <div class="porEjemplo bold">
                        Por ejemplo:
                    </div>
                    <div class="divGrowEjemplos" (window:resize)="onResize($event.target.innerWidth)">
                        <div class="col2">
                            <div class="descripcionEjemplo">
                                Motorola Moto E6 Play <br>
                                32GB Movistar<sup style="margin-left: 5px;">3</sup> <br>
                                Precio para ti: $2,429
                            </div>
                        </div>
                        <mat-divider *ngIf="barra"></mat-divider>
                        <div class="col2" style="border-left: solid 4px #17a54d;">
                            <div class="descripcionEjemplo" style="line-height: 1.1;">
                                Llévatelo a sólo <br>
                                <span style="font-size: 2em;">$60 sem <sup style="font-size: 0.5em; margin-left: -10px;">2</sup></span> <br>
                                Pago inicial de $0
                            </div>
                        </div>
                    </div>
                    <div class="referencia">* Consulta mas información del producto y especificaciones del precio</div>
                    <div class="btnCenter">
                        <button mat-flat-button class="btnEjemplo" [routerLink]="['/detalles', 0]">Más información*</button>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="carrusel2 shadow">
                        <div class="textos bottomShadow">
                            <div class="texto1">
                                <div>Obtén beneficios y descuentos al utilizar</div>
                                <div class="bold">tu crédito al consumo en Telefonía</div>
                            </div>
                            <div class="texto2">
                                <div>Al usar tu crédito podrás obtener un descuento en</div>
                                <div class="bold">tus pagos semanales y adquirir diferentes equipos</div>
                            </div>
                        </div>
                    </div>
                    <div class="porEjemplo bold">
                        Por ejemplo:
                    </div>
                    <div class="divGrowEjemplos">
                        <div class="col2">
                            <div class="descripcionEjemplo">
                                Motorola G8 Play <br>
                                32GB AT&T<sup style="margin-left: 5px;">3</sup> <br>
                                Precio para ti: $3,599
                            </div>
                        </div>
                        <mat-divider *ngIf="barra"></mat-divider>
                        <div class="col2" style="border-left: solid 6px #17a54d;">
                            <div class="descripcionEjemplo" style="line-height: 1.1;">
                                Llévatelo a sólo <br>
                                <span style="font-size: 2em;">$60 sem <sup style="font-size: 0.5em; margin-left: -10px;">2</sup></span> <br>
                                Pago inicial de $0
                            </div>
                        </div>
                    </div>
                    <div class="referencia">* Consulta mas información del producto y especificaciones del precio</div>
                    <div class="btnCenter">
                        <button mat-flat-button class="btnEjemplo" [routerLink]="['/detalles', 1]">Más información*</button>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="carrusel3 shadow">
                        <div class="textos bottomShadow">
                            <div class="texto1">
                                <div>Obtén beneficios y descuentos al utilizar</div>
                                <div class="bold">tu crédito al consumo en Telefonía</div>
                            </div>
                            <div class="texto2">
                                <div>Al usar tu crédito podrás obtener un descuento en</div>
                                <div class="bold">tus pagos semanales y adquirir diferentes equipos</div>
                            </div>
                        </div>
                    </div>
                    <div class="porEjemplo bold">
                        Por ejemplo:
                    </div>
                    <div class="divGrowEjemplos">
                        <div class="col2">
                            <div class="descripcionEjemplo">
                                Huawei Y9s <br>
                                128GB Movistar<sup style="margin-left: 5px;">3</sup> <br>
                                Precio para ti: $6,299
                            </div>
                        </div>
                        <mat-divider *ngIf="barra"></mat-divider>
                        <div class="col2" style="border-left: solid 6px #17a54d;">
                            <div class="descripcionEjemplo" style="line-height: 1.1;">
                                Llévatelo a sólo <br>
                                <span style="font-size: 2em;">$80 sem <sup style="font-size: 0.5em; margin-left: -10px;">2</sup></span> <br>
                                Pago inicial de $0
                            </div>
                        </div>
                    </div>
                    <div class="referencia">* Consulta mas información del producto y especificaciones del precio</div>
                    <div class="btnCenter">
                        <button mat-flat-button class="btnEjemplo" [routerLink]="['/detalles', 2]">Más información*</button>
                    </div>
                </ng-template>  

            </owl-carousel-o>
            
        </div>
    </div>
</div>