.contenedorPrincipal {
    display: flex;
    justify-content: center;
}
.contenedorEjemplos {
    // max-width: 960px;
    width: 100%;
}

.header {
    background-color: #17a54d;
    height: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.1;
    letter-spacing: 1px;
}

.titulo {
    color: #ffffff;
    font-size: 5vw;
}

.titulo2 {
    color: white;
    font-size: 4.9vw;
}

.bold {
    font-family: 'Avenir_Next_Bold';
}

.contenedorContenido {
    width: 100%;
}

.carrusel1 {
    background-image: url('/assets/img/slider1.png');
}
.carrusel2 {
    background-image: url('/assets/img/slider2.png');
}
.carrusel3 {
    background-image: url('/assets/img/slider3.png');
}

.shadow {
    background-size: cover;
    -webkit-box-shadow: inset 0px 200px 100px -89px rgba(0,0,0,0.51);
    -moz-box-shadow: inset 0px 200px 100px -89px rgba(0,0,0,0.51);
    box-shadow: inset 0px 200px 100px -89px rgba(0,0,0,0.51);
    height: 875px;
    background-position-y: -475px;
}

.bottomShadow {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px -200px 85px -62px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -200px 85px -62px rgba(0,0,0,0.75);
    box-shadow: inset 0px -200px 85px -62px rgba(0,0,0,0.75);
    
}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: white;
    font-size: 3vw;
    letter-spacing: 1px;
}

.texto1 {
    padding-top: 35px;
}

.texto2 {
    padding-bottom: 35px;
}

.porEjemplo {
    background-color: #17a54d;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.1;
    font-size: 4vw;
    color: white;
    letter-spacing: 1px;
}

.descripcionEjemplo {
    font-family: "Avenir_Next_Demi_Bold";
    font-size: 1.8em;
    text-align: center;
}

.referencia {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 5px;
}

.btnCenter {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;   
    margin: 15px 0px 10px 0px;
}

.btnEjemplo {
    background-color: #00a648;
    color: white;
    border-radius: 50px;
    font-size: 1.5em;
    height: 55px;
    width: 365px;
    font-family: "Avenir_Next_Bold";
    letter-spacing: 0.5px;
}

.mat-divider {
    display: block;
    border-top-width: 2px;
    border-top-style: solid;
    width: 80%;
    margin: 0 auto;
    background-color: #00a648;
}

@media screen and (max-width:1482px) {
    .shadow {
        background-position-y: -175px;
        transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
    }
}
@media screen and (max-width:1096px) {
    .shadow {
        background-position: center;
        transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;

    }
}
@media screen and (max-width:768px) {
    .shadow {
        height: 500px;
        transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
    }
}
@media screen and (max-width:425px) {
    .shadow {
        height: 400px;
        transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
    }

    .contenedorContenido {
        font-size: 12px;
    }
}
@media screen and (max-width:375px) {
    .shadow {
        height: 300px;
        transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
    }
}
